<a href="https://colab.research.google.com/github/salonee/MSinDS_Aug2024-2025/blob/main/Custom_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Function :
# Set of Instructions written as input and output format.
# print, input, sum,len,type,max, min, eval,int, avg, float, zip, enumerate, sorted
# In built functions : Already created for you to use.

In [ ]:
print(input)# Function
variable.method_name(input) # Method
# methods are functions inside the class.

In [ ]:
'''
What is a Function in Python?
Definition: A function is a block of organized, reusable code that is used to perform a single, related action.
Functions provide better modularity for your application and a high degree of code reusability.
Why Use Functions: They help break down complex problems into simpler pieces, avoid repetition of code,
and make the code more readable and maintainable.

'''

In [ ]:
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact*=i
  return fact

In [ ]:
factorial(n = 5) # 120

120

In [ ]:
# permutation of n,r
# Permutation n!/ (n-r)!
n = int(input())
r = int(input())
print(factorial(n)/ factorial(n-r))

5
2
20.0

In [ ]:
# 1 + 1/2! + 1/3! + 1/4! ...1/n!
n = int(input())
_total = 0
for i in range(1,n+1):
  _total += 1/ (factorial(i))

print(_total)

3
1.6666666666666667

In [ ]:
# Syntax

def function_name(parameters = "Default Parameter Value"):
  """
  Docstring

  """

    # function code goes here | logic

  return output_value



# def: This keyword indicates the start of a function definition. It stands for "define"
# Function_name: This is the name of the function you are defining.

# Parameters: These are the input values that the function will take. They are optional, and you can have as many or as few as you need.


# Default Parameter Value : If a value is not provided when calling a function, this value will be used instead.

# Docstring : A docstring is a string literal that appears as the first statement in a module, function, class, or method definition. Its purpose is to provide documentation for the code and to describe what the function does, what arguments it takes, and what it returns.

# Function code : This is the code that gets executed when the function is called. It can be any valid Python code.

# return: This keyword indicates the value that the function will return. This is also optional, and you can have multiple return statements in a function.

In [ ]:
# Example --
num = int(input('Enter the number: '))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive Number")
else:
    print("Negative Number")

Enter the number: 4
Positive Number

In [ ]:
# As a function
def pos_neg_check(num):
  if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive Number")
  else:
      print("Negative Number")

In [ ]:
pos_neg_check(num = 0)

Zero

In [ ]:
pos_neg_check(num = -1)

Negative Number

#### Defining a Function

In [ ]:
# Part 1: Defining the function | Creating the machine
def greet():
  print('Hello World!')


# Part 2: using the function | Calling the function
greet()

Hello World!

In [ ]:
greet()

Hello World!

In [ ]:
# Define a function named greet_python that prints "Hello, Python!" three times.
# Defined the function

def greet_python():
  print('Hello World ' * 3)

In [ ]:
# Call the function / use it.
greet_python()

Hello World Hello World Hello World

#### Function with Parameters

In [ ]:
# Purpose: Parameters allow you to pass information into the function.
# They are specified inside the parentheses of the function definition.

In [ ]:
# Define the function
def greet(name):
  print(f'Hello, {name}!')

In [ ]:
# use it
greet(name = 'Alok')

Hello, Alok!

In [ ]:
greet('zyx')

Hello, zyx!

In [ ]:
# Equivalent to
name  = input()
print(f"Hello, {name}")

Alok
Hello, Alok

In [ ]:
# Define it
def threetimes(n):
  print('hello' * n)

In [ ]:
# using it/ Calling it
n = int(input())
threetimes(n)

4
hellohellohellohello

In [ ]:
# Create a function called add_numbers that takes two numbers as arguments/parameters and prints their sum.
# Defined the function

def add_numbers(a,b):
  c = a+b
  print(c)

In [ ]:
add_numbers(2,3)

5

In [ ]:
# What if we don't provide enough parameters?
x = int(input())
y = int(input())
add_numbers(a = x,b = y)

3
6
9

In [ ]:
# Define a function named multiply that takes two parameters, a and b, and returns their product.
# Defining the function
def multiply(a,b):
  c = a * b
  print(c)

In [ ]:
a = int(input())
b = int(input())
multiply(a,b)

5
4
20

#### Returning Values from a Function

In [ ]:
# Purpose: Use the return statement to send a result back to the caller.

In [ ]:
# print vs return

In [ ]:
def add_print(a,b):
  print(a+b)

In [ ]:
def add_return(a,b):
  return a+b

In [ ]:
add_print(2,3)

5

In [ ]:
add_return(2,3)

5

In [ ]:
x = add_print(2,3)
print(x)

5
None

In [ ]:
y = add_return(2,3)
print(y)

5

In [ ]:
y

5

In [ ]:
# return : output can be stored in the variable
# print : output is just for the display, can't be stored in the variable

In [ ]:
# Write a function called square that takes a number and returns its square.

# Defined
def square(n):
  return n ** 2

In [ ]:
a = square(n = 100)

In [ ]:
print(a)

10000

In [ ]:
# Define a function named fahrenheit_to_celsius that converts Fahrenheit to Celsius and returns the result.
# celsius = (fahrenheit - 32) * 5 / 9

def fahrenheit_to_celsius(f):
  c = (f-32) * 5/9
  return c

In [ ]:
fahrenheit_to_celsius( f = 32)

0.0

#### Default Parameters

In [ ]:
# Functions can have default values for parameters, which are used
# if no value is provided when the function is called.
# predefined

In [ ]:
# Defined the function
def greet(name = "Guest"):
    print(f"Hello, {name}!")

greet()

Hello, Guest!

In [ ]:
greet('Alok')
# name variable has a default value as Guest,
# otherwise it will be take input given to the parameter

Hello, Alok!

In [ ]:
def multiply(a , b):
  return a * b

# Here there is no default value
multiply(a =5 , b  =6)

30

In [ ]:
multiply(a =5 )

TypeError: multiply() missing 1 required positional argument: 'b'

In [ ]:
def multiply(a , b = 1):
  return a * b

# Default value for b
print(multiply(a= 5))
print(multiply(a= 5, b = 6))

5
30

In [ ]:
# Combination of default and non default paramters
def add_numbers( a, b = 0):
  return a + b

# is there any parameter with default value ? Yes --> b
# Is there any parameter with non default value ? Yes --> a

In [ ]:
# Note : Non default parameter will come before your default parameters
# def add(b = 7, a):
#   print(a+b)

# b is default parameter
# a is non default parameter

def add(a,b=7):
  print(a+b)

In [ ]:
def add(a, b = 1, c):
  print(a+b+c)

SyntaxError: non-default argument follows default argument (<ipython-input-12-43c400b8a063>, line 1)

In [ ]:
def add(a,c, b = 1):
  print(a+b+c)

In [ ]:
# def add_numbers(a = 8, b = 9, c = 9, d = 9):
#   return a+b+c+d

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# Ensuring that you are not missing mandatory arguments
# def x(a,b,c = 0, d, e=1, f, g,h = 5)
# def x(a,b,d,f,g, c=0,e=1,h=5)
# In which scenario you will be comfortable in finding all mandatory arguments?
# 2 nd case

In [ ]:
# Create a function named calculate_area that takes the radius of a circle and a pi value,
# with a default  pi value of 3.14, and returns the area.
# Defining the function
def calculate_area(r, pi = 3.14):
  area = pi*r**2
  return area

# Call the function
r = int(input('Enter the radius'))
calculate_area(r, pi = 3.1415)

Enter the radius2

12.566

#### Keyword Arguments

In [ ]:
# When calling functions, you can specify the arguments by the parameter names.

In [ ]:
def describe_pet(animal_type, pet_name):
    print(f"I have a {animal_type} named {pet_name}.")


# Output: I have a dog named Buddy.

In [ ]:
# Call this function
a = 'dog'
b = 'Rocko'
describe_pet(animal_type = a, pet_name = b)

I have a dog named Rocko.

In [ ]:
describe_pet(a,b)

I have a dog named Rocko.

In [ ]:
describe_pet('dog','rocko')

I have a dog named rocko.

In [ ]:
describe_pet(pet_name = b, animal_type = a )

I have a dog named Rocko.

In [ ]:
describe_pet(pet_name = 'rocko', animal_type = 'dog' ) # Throw : dog & rocko : Variables

I have a dog named rocko.

In [ ]:
describe_pet( b, a ) # Function : b = animal_type, a = pet_name
# Chances of error : High

I have a Rocko named dog.

In [ ]:
# Write a function named person_info that takes two keyword arguments: name and age, and prints them.

def person_info(name, age):
  print(f'My name is {name} and I am {age} years old')

#### Function Scope and Lifetime

In [ ]:
# Local variable: Variables defined inside a function are not visible from outside the function.
# Global variable: Variables defined outside a function can be accessed inside the function using the global keyword.

In [ ]:
def multiply(a,b):
  d  = a+ b # local variable
  c = a * b # Local variable
  return (c,d)

In [ ]:
# Calling the function
multiply(a = 3,b= 5)

(15, 8)

In [ ]:
# Calling the funcion
# multiply(3,5)

(15, 8)

In [ ]:
print(d) # error : name 'd' is not defined.

NameError: name 'd' is not defined

In [ ]:
print(c)

NameError: name 'c' is not defined

In [ ]:
# Scenario 2 :
def multiply(a,b):
  global d # Declared variable d is global
  d  = a+ b
  c = a * b
  return (c,d)

In [ ]:
multiply(3,5)

(15, 8)

In [ ]:
print(d)

8

In [ ]:
print(c)

NameError: name 'c' is not defined

In [ ]:
# Scenario 2 :
def multiply(a,b):
  global d # Declared variable d is global
  global c,e
  d  = a+ b
  c = a * b
  e = a/b
  return (c,d)

In [ ]:
multiply(3,5)

(15, 8)

In [ ]:
print(d)

8

In [ ]:
print(c)

15

In [ ]:
dir()

['In',
 'Out',
 '_',
 '_15',
 '_16',
 '_28',
 '_31',
 '_34',
 '_35',
 '_37',
 '_41',
 '_44',
 '_46',
 '_49',
 '_51',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'add',
 'b',
 'c',
 'calculate_area',
 'd',
 'describe_pet',
 'e',
 'exit',
 'get_ipython',
 'greet',
 'multiply',
 'quit',
 'r']

In [ ]:
def add(a,b):
  global g
  g = a+ b
  return 'Hello'

In [ ]:
print(g)

NameError: name 'g' is not defined

In [ ]:
add(a =1,b= 2)

'Hello'

In [ ]:
print(g)

3

In [ ]:
# Scenario 3
gl = 5 # Global variable

def multiply(a,b):
  c = a* b * gl # c --> Local Variable
  return c

In [ ]:
multiply(a = 5,b =6) # 5 * 6 * 5 = 150
# Function can access all variables which are global

150

In [ ]:
# Scenario 4
gl = 5 # Global variable

def multiply(a,b):
  gl = 6 # Local Variable
  global c
  c = a * b * gl # c --> Local Variable
  return c

In [ ]:
multiply(3,5) # Function will first search for local variable if any, otherwise it will use global variable

90

In [ ]:
print(gl)  # Value of global variable 'gl'

5

In [ ]:
print(c)

90

In [ ]:
# Scenario 5
gl = 5 # Global variable

def multiply(a,b):
  global gl
  gl = 6 # Global Variable
  c = a * b * gl # c --> Local Variable
  return c

In [ ]:
multiply(3,5)

90

In [ ]:
print(gl)

6

In [ ]:
# Here : global variable 'gl' will be overwritten

In [ ]:
# Any variable created inside the function is temporary variable/ local variable

In [ ]:
# All variables outside function is global ; it will be stored in the memory until you delete
# All variables inside the function is local until you declare it as global

In [ ]:
# Variable inside the function is local : Temporary : not stored in the memory
# Variable created outside the function is global : Permanant: Stored in the memory

In [ ]:
# Write a function named test_scope that defines a local variable x
# and prints it inside the function. Then, try printing x outside the function.

In [ ]:
# Create a function called modify_global that modifies a
# global variable count inside the function using the global keyword.

In [ ]:
c

90

In [ ]:
del c # global variable is deleted

In [ ]:
print(c) # Because it's deleted.

NameError: name 'c' is not defined

#### Docstrings

In [ ]:
# Provide a convenient way of associating documentation with functions.
# Docstrings : Manual of function
# Triple double quotes

In [ ]:
def greet(name):
    """Display a greeting message."""
    print(f"Hello, {name}!")

print(greet.__doc__)  # Output: Display a greeting message.

Display a greeting message.

In [ ]:
def factorial(n):
  """
  Input: Function expects the input as positive Integer
  Output: Function will give the output as factorial of n (n!)
  Example :
  factorial(n = 5) --> 120
  """
  fact = 1
  for i in range(1,n+1):
    fact*=i
  return fact

In [ ]:
factorial(n =5)

120

In [ ]:
print(factorial.__doc__) # Manual

  Input: Function expects the input as positive Integer
  Output: Function will give the output as factorial of n (n!)
  Example :
  factorial(n = 5) --> 120

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [ ]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [ ]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

#### pass

In [ ]:
# Purpose: pass is used as a placeholder for a function that is not yet implemented.

In [ ]:
def my_function():
    pass

In [ ]:
def add():
  pass

In [ ]:
# Projects : Skeleton of Project : Pass
def data_cleaning():
  print('Data Cleaning Done!')

def model_training():
  print('Model Training Done!')

def evaluation():
  pass

def parameter_tuning():
  pass

In [ ]:
data_cleaning()

Data Cleaning Done!

In [ ]:
model_training()

Model Training Done!

#### Variable-Length Arguments

In [ ]:
## (*args and **kwargs)
# *args --> Values are stored in args variable as tuple
# **kwargs --> Values are stored  in kwargs variable as dictionary

# *x --> Values are stored in x variable as tuple
# **y --> Values are stored  in y variable as dictionary

In [ ]:
# *args: Allows you to pass a variable number of non-keyword arguments.

def add(*c):
  print(c)

In [ ]:
add(2,3,4,5,6,8) # c = (2,3,4,5,6)

(2, 3, 4, 5, 6, 8)

In [ ]:
def add(*c):
  _total = 0
  for i in c:
    _total += i
  return _total

In [ ]:
add(2,3,4,5) # c = (2,3,4,5)

14

In [ ]:
def length_of_string(*s):
  for i in s: # s = ('hello', 'world', 'Data', 'Engineering')
    print(f'Word {i} : {len(i)} Elements', end = '\n')

In [ ]:
length_of_string('hello', 'world', 'Data', 'Engineering')

Word hello : 5 Elements
Word world : 5 Elements
Word Data : 4 Elements
Word Engineering : 11 Elements

In [ ]:
# *s : Variable s :  Stored as a tuple
# **info : variable info : Store the data as dictionary

In [ ]:
def person_info(**info): #
  return info

In [ ]:
person_info(name = 'Alok', age = 30, place = 'Blr')
# **Kwargs : Dictionary key: String

{'name': 'Alok', 'age': 30, 'place': 'Blr'}

In [ ]:
person_info(name = 'Vikas', age = 30, place = 'Blr', interest= 'Data Science')

{'name': 'Vikas', 'age': 30, 'place': 'Blr', 'interest': 'Data Science'}

In [ ]:
# **kwargs: Allows you to pass a variable number of keyword arguments.
def print_pet_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_pet_details(name="Buddy", type="dog", age=5)
# Output: name: Buddy
#         type: dog
#         age: 5

In [ ]:
def person_details(name,age, city):
  return (name,age,city)

In [ ]:
person_details(name = 'Alok', age = 30, city = 'Blr')

('Alok', 30, 'Blr')

In [ ]:
person_details(name = 'Alok', age = 30, city = 'Blr', interest = 'DS')

TypeError: person_details() got an unexpected keyword argument 'interest'

In [ ]:
def person_details(**d):
  return d

In [ ]:
person_details(name = 'Alok', age = 30, city = 'Blr')

{'name': 'Alok', 'age': 30, 'city': 'Blr'}

In [ ]:
person_details(name = 'Alok', age = 30, city = 'Blr', interest = 'DS')

{'name': 'Alok', 'age': 30, 'city': 'Blr', 'interest': 'DS'}

In [ ]:
# Combination of args & Kwargs
# First : Args , Kwargs
def marks(*mark, **student_details ):
  print(f'mark variable has stored {mark}')
  print(f'student_details variable has stored {student_details}')

In [ ]:
marks(40,50,60,70,80,90,'a','b','c',d= 5,name= 'Alok', program = 'DS', Rank = 10)

mark variable has stored (40, 50, 60, 70, 80, 90, 'a', 'b', 'c')
student_details variable has stored {'d': 5, 'name': 'Alok', 'program': 'DS', 'Rank': 10}

In [ ]:
# **kwargs

def info(**i):
  print(i)

In [ ]:
info(city = 'bengaluru', population = 10)

{'city': 'bengaluru', 'population': 10}

In [ ]:
info(city = 'bengaluru', population = 10, literacy_rate = 90)

{'city': 'bengaluru', 'population': 10, 'literacy_rate': 90}

#### Multiple return in Function

In [ ]:
# Print with return
def loop(n):
  for i in range(n+1):
    if i == 5:
      return i # Execution of function is over.
    print(i)

In [ ]:
loop(n = 10) # 0 to 4 : print , 5 : return

0
1
2
3
4

5

In [ ]:
a= loop(n=10)

0
1
2
3
4

In [ ]:
print(a) # print : only display , return : value will be stored.

5

In [ ]:
def loop(n):
  for i in range(n): # [0,1,2,3,4,5...,9]
    if i == 5: # True
      print(i) #
    print(i)

In [ ]:
# a is a variable
a = loop(n = 10)

0
1
2
3
4
5
5
6
7
8
9

In [ ]:
print(a)

None

In [ ]:
# return the first even number in the list, otherwise 'None'

def first_even(lst):
  for i in lst:
    if i % 2==0:
      return i
  return 'None'

lst = [3,6,7,8]
first_even(lst)

6

In [ ]:
lst = [3,7,9,11,13]
first_even(lst)

'None'

In [ ]:
def till_n_even(lst,n):
  _count = 0
  _out = []
  for i in lst:
    if i % 2==0:
      _count+=1
      _out.append(i)
    if  _count ==n:
      return _out # return command is similar to break statement in for loop
    return 'None'

lst = [3,7,11,13]
# [first_even(lst),second_even(lst)]
till_n_even(lst,n =3)

'None'

In [ ]:
def add(a,b):
  print(a+b)

In [ ]:
c = add(2,3)

5

In [ ]:
print(c)

None

In [ ]:
# print vs return :
# print : Display the output
# return :stores the value

In [ ]:
# Once return is executed, then execution of function is done/over.
# what break is for looping (for / while), return is for function : In terms of execution
# Only values returned will be stored in variable

In [ ]:
def find(*l):
  value = []
  for i in l:
    value.append(i**2)
  return tuple(value)

find(1,2,3,4,5,6,7,8,9) # value as tuple

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [ ]:
# Prime numbers
def prime_numbers(n):
  prime_check = 'Prime'
  for i in range(2,n):
    if n % i ==0:
      prime_check = 'Not Prime'
      break
  return prime_check

In [ ]:
# Method to write the code
def prime_numbers(n):
  for i in range(2,n):
    if n % i ==0:
      return False
  return True

In [ ]:
# a = int(input())
# b = int(input())
# # All prime numbers in between a & b
# list(filter(prime_numbers, range(a,b+1)))

30
50

[31, 37, 41, 43, 47]

In [ ]:
prime_numbers(n = 15)
# range(2,15) -->[2,3,4,....,14]
# 15 % 2 == 0: False
# 15 % 3 == 0: True | return 'Not prime' is executed | Function stops running

'Not Prime'

In [ ]:
prime_numbers(n = 7)
# range(2,7) --[2,3,4,5,6]
# 7 % 2 ==0: False
# 7 % 3 == 0: False
# 7 % 4 ==0: False
# 7 % 5 == 0 : False
# 7 % 6 == 0 : False
# For loop iteration is over.
# Finally it will return prime

In [ ]:
# return will act as break.

In [ ]:
prime_numbers(n = 3)

'Prime'

In [ ]:
# For loop : code for prime numbers?
n = int(input())
prime_check = 'Prime'
for i in range(2,n):
  if n % i ==0:
    prime_check = 'Not Prime'
    break
print(prime_check)

10
Not Prime

#### Practice

In [ ]:
# Question 1:
'''
Write a Python function called calculate_factorial that takes a single integer argument n and
returns the factorial of that number. The factorial of a non-negative integer n is the product of
all positive integers less than or equal to n. For example, the factorial of 5 (denoted as 5!) is
5 * 4 * 3 * 2 * 1 = 120.
If n is 0, the factorial should return 1, as 0! is defined to be 1.
'''
# Defining the function

def calculate_factorial(n):
  _fact = 1
  for i in range(1,n+1): # range(6) --> [0,1,2,3,4,5]
    _fact *= i # _fact = _fact * i

  return _fact

In [ ]:
# Using the function
calculate_factorial(n = 0)

1

In [ ]:
# Question 2 :
'''
Write a Python function called calculate_series_sum that calculates the sum of the following series up to n terms:

1+ 1/2! + 1/3! + 1/4!....+ 1/n!
Hint : Use calculate_factorial function create above

'''
def calculate_series_sum(n):
  _sum = 0
  for i in range(1, n+1):
    _sum += 1/(calculate_factorial(i))

  return _sum

calculate_series_sum(n = 4)

1.7083333333333335

In [ ]:
# Without using the function
# 1+ 1/2! + 1/3! .. 1/n!

def calculate_series_sum(n):
  _sum = 0
  for i in range(1, n+1): # For every i, factorial has to be calculated
    _fact = 1
    for j in range(1,i+1):
      _fact *= j

    _sum += 1/_fact

  return _sum

In [ ]:
n = int(input())
calculate_series_sum(n)

1.7083333333333335

In [ ]:
# Question 3 :
'''
Calculate Permutation n , r = n!/(n-r)!
and Combination n ,r = n!/(n-r)!/r!
Taking n, r as an output
'''

def permutation(n,r):
  return round(calculate_factorial(n)/calculate_factorial(n-r))


def combination(n,r):
  return round(calculate_factorial(n)/calculate_factorial(n-r)/calculate_factorial(r))

# Use the function/ Call the function

print(permutation(n =4,r=2))
print(combination(n =4,r=2))

12
6

In [ ]:
# Question 4 :
'''
Write a function list_pow takes in input as list and power as n,
output as list and each element raised to power n
input : [1,2,3,4] n = 2, Output: [1,4,9,16]

'''

# Defining the function

def list_pow(lst, n):
  _out = []
  for i in lst:
    _out.append(i**n)
  return _out


# using this function

lst = [1,2,3,4,5]
n = 3

list_pow(lst, n)

[1, 8, 27, 64, 125]

In [ ]:
# * args
def _pow(n, *lst):
  _out = []
  for i in lst:
    _out.append(i**n)

  return _out

In [ ]:
_pow(2,3,4,5,6,7,8,9,10) # Why?

[9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# *args
def add(*n):
  # n is a tuple which stores all values
  return sum(n)

In [ ]:
add(2,3,4,5,6)

20

In [ ]:
add(2,3,4,5,6,7)

27

In [ ]:
# Question 5 :
'''
Write a Python function called print_primes_between that prints all prime numbers between two integers a and b (inclusive).
A prime number is a positive integer greater than 1 that has no positive integer divisors other than 1 and itself.

print_primes_between(10, 20) should print:
11
13
17
19
'''

def print_primes_between(a,b):
  for i in range(a,b+1): # Every i - to check if it is prime
    _is_prime = True
    for j in range(2,i): # 1 & itself have been excluded
      if i%j ==0:
        _is_prime = False
        break

    if _is_prime == True: # Boolean
      print(i)



print_primes_between(a=2,b=20)

2
3
5
7
11
13
17
19

In [ ]:
# Checking for prime number
i = 6
_is_prime = 'Yes'
for j in range(2,i): # 1 & itself have been excluded # range(2,5) --> (2,3,4)
  if i%j ==0:
    _is_prime = 'No'
    break

print(_is_prime)

No

In [ ]:
# Logic to check prime number
n = int(input())
_is_prime = 'Prime'
for i in range(2,n):
  if n%i == 0:
    _is_prime = 'Not Prime'
    break

print(_is_prime)

In [ ]:
def print_primes_between(a,b):
  for i in range(a,b+1): # Every i - to check if it is prime
    _is_prime = 'Prime'
    for j in range(2,i):
      if i%j == 0:
        _is_prime = 'Not Prime'
        break

    if _is_prime == 'Prime': # Boolean
      print(i)



print_primes_between(a=2,b=20)

2
3
5
7
11
13
17
19

In [ ]:

def prime_between(lower_limit,upper_limit):
  for num in range(lower_limit, upper_limit + 1):
      if num > 1:
          for i in range(2, (num//2)+1):
              if (num % i) == 0:
                  break
          else:
              print(num)

In [ ]:
lower_limit = int(input())
upper_limit = int(input())
prime_between(lower_limit,upper_limit)

10
20
11
13
17
19

In [ ]:
def print_primes_between(a,b):
  for i in range(a,b+1): # Every i - to check if it is prime
    _is_prime = True
    for j in range(2,i): # 1 & itself have been excluded
      if i%j ==0:
        _is_prime = False
        break

    if _is_prime == True: # Boolean
      print(i)



print_primes_between(a=2,b=20)

In [ ]:
# Whether any number is prime
def isprime(n):
  _is_prime = True
  for i in range(2,n): # 1 & itself have been excluded
    if n%i ==0:
      _is_prime = False
      break
  return _is_prime

In [ ]:
def print_primes_between(a,b):
  for i in range(a,b+1): # range(10,21) --> 10,11,12....20.
    if isprime(i) ==True: #
      print(i)

In [ ]:
print_primes_between(a = 10,b=20)

11
13
17
19

In [ ]:
# Divide and Conquer
# Coding -->
# Write the logic for one element and generalise it for all others.

# [15,23,45,67,89] # Even or odd

def even_odd_check(n):
  if n%2 ==0:
    return f"{n} : 'Even'"
  else:
    return f"{n} : 'Odd'"

lst = [15,23,45,67,89, 60]
for i in lst:
  print(even_odd_check(i))

15 : 'Odd'
23 : 'Odd'
45 : 'Odd'
67 : 'Odd'
89 : 'Odd'
60 : 'Even'

In [ ]:
# .apply()
# map()
# filter()

# name, email
# Alok, xyz@alma.com
# Shubham, abc@alma.com
# .apply(lambda )

In [ ]:
'''
n = 4

Output

4444
4334
4224
4114
4004
'''

4444
4334
4224
4114
4004

In [ ]:
n = 4
for i in range(n,-1,-1):
  print(f'{n}{i}{i}{n}')

4444
4334
4224
4114
4004